@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Emilys+Candy&family=Katibeh&family=Lora&family=Noto+Serif+JP:wght@200;300&family=Nunito+Sans&family=Peddana&family=Rubik&family=Shippori+Antique+B1&family=Staatliches&family=Zen+Antique&display=swap");

/* Setting */

:root {
  --red-color: #f13a11;
  --sakura-color: #ffc0cb;
  --white-color: #ffffff;
  --dark-color: #171819;
  --about-bg-color: #f9f9f9;

  --gray-color: #909090;
  --link-color: #404040;
  --p-color: black;

  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 18px;
  --p-font-size: 16px;
  --s-font-size: 14px;
}

h1 {
  font-size: 48px;
  color: var(--white-color);
}
h2 {
  font-size: 32px;
  color: var(--white-color);
}
h3 {
  font-size: 24px;
  color: var(--white-color);
}
h4 {
  font-size: 20px;
  color: var(--white-color);
}
h5 {
  font-size: 18px;
  color: var(--white-color);
}
h6 {
  font-size: 16px;
  color: var(--white-color);
}
p {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151510;
  color: white;
  font-family: "Peddana", serif;
}

ul,
li {
  all: unset;
}

a {
  font-size: var(--h6-font-size);
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in;
}

a:hover {
  color: var(--sakura-color);
}

/* ===================== Main ======================= */

/* Hedaer */

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
}

.navbar_clock {
  width: 20%;
  text-align: center;
  font-size: var(--h3-font-size);
  text-shadow: 2px 2px 2px var(--sakura-color);
}
.navbar_logo {
  text-align: center;
}
.navbar_logo img {
  width: 75%;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 12px;
}
.navbar_logo img:hover {
  opacity: 0.6;
}
.navbar_icons {
  min-width: 20%;
}
.navbar_icons a {
  padding: 8px 12px;
}
#toggleBtn {
  position: absolute;
  right: 5%;
  display: none;
}

/* Menu bar */
.menubar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li p {
  font-size: var(--h5-font-size);
}
.menu li {
  padding: 8px 30px;
}
.menu li a {
  font-size: var(--h6-font-size);
}

/* Main */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
}
.main .profile {
  display: flex;
  justify-content: center;
  padding: 3% 0%;
}
.main .content {
  width: 50%;
  padding: 1.5% 0%;
  line-height: 30px;
}
.main .content p {
  font-size: 13px;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  padding: 3% 0%;
}
footer .banner {
  text-align: center;
}
footer .banner img {
  width: 40%;
  cursor: pointer;
}
footer .banner img:hover {
  opacity: 0.5;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
}
footer .icons a {
  padding: 8px 20px;
}
footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .small {
  text-align: center;
  padding-top: 2%;
  opacity: 0.6;
}

@media screen and (max-width: 1025px) {
  .navbar_icons {
    display: none;
  }
  .navbar_clock {
    display: none;
  }
  .main {
    padding-top: 5%;
  }
  .main .content {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {
  .menubar {
    display: none;
  }
  .menu li {
    padding: 16px;
  }
  .menubar.active {
    display: flex;
  }
  #toggleBtn {
    display: block;
  }
  .header {
    position: relative;
  }
  .menubar {
    position: relative;
    display: none;
  }
  .main {
    padding-top: 15%;
  }
  .main .profile img {
    width: 70%;
  }
}

@media screen and (max-width: 501px) {
  .menu li {
    padding: 10px;
  }
  footer .menu li {
    padding: 12px;
  }
}
